In [ ]:
#Write a function that takes a list of numbers and returns the 2nd largest number.
user_input=list(int(input("Enter a list of numbers: ")))
#list_u_i=list(user_input)
print(user_input)

In [2]:
#Write a function to find 2nd largest number.
def second_highest(number):
    user_number=list(set(number))
    user_number.sort(reverse=True)
    if len(user_number)<2:
        return None
    return user_number[1]
user_input=input("Enter numbers seprated by space: ")
num_list=list(map(int,user_input.split()))
print(num_list)
print("Second highest number: ",second_highest(num_list))

Enter numbers seprated by space: 12 65 89 99
[12, 65, 89, 99]
Second highest number:  89

In [7]:
#Write a function to count frequency of words (Q2).
from collections import Counter
given="This a given sentence"
words=given.lower().split()
count=Counter(words)
print(count)

Counter({'this': 1, 'a': 1, 'given': 1, 'sentence': 1})

In [16]:
#Reverse a string without using slicing.
a="apple"
rever="".join(reversed(a))
print(rever)

elppa

In [50]:
n=5
result=1
for i in range(1,n+1):
    result*=i
    print(result)

1
2
6
24
120

In [57]:
def palindrome():
    string="Hello"
    rev_string=string[::-1]
    if string==rev_string:
        print("Is a palindrome")
    else:
        print("Is not a palindrome.")
palindrome()

Is not a palindrome.

In [67]:
l=[1,2,3,3,4,4,5]
ul=()

uni_ul=ul(set(uni))
print(uni_ul)

TypeError: 'tuple' object is not callable